body {
  margin: 0;
  padding: 0;
  color: #31353b;
  font-size: 13px;
  font-family: 'PingFang SC', Arial, 'Microsoft YaHei', sans-serif,
    PingFangSC-Semibold, PingFang SC;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 去掉input number箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}